<a href="https://colab.research.google.com/github/tzuying-chen/ML_100days/blob/main/Day_009_HW.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 檢視與處理 Outliers
### 為何會有 outliers, 常見的 outlier 原因
* 未知值，隨意填補 (約定俗成的代入)，如年齡常見 0,999
* 可能的錯誤紀錄/手誤/系統性錯誤，如某本書在某筆訂單的銷售量 = 1000 本

# [作業目標]
- 依照下列提示與引導, 以幾種不同的方式, 檢視可能的離群值

# [作業重點]
- 從原始資料篩選可能的欄位, 看看那些欄位可能有離群值 (In[3], Out[3])
- 繪製目標值累積密度函數(ECDF)的圖形, 和常態分布的累積密度函數對比, 以確認是否有離群值的情形 (In[6], Out[6], In[7], Out[7])

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
# Import 需要的套件
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

# 設定 data_path
dir_data = './data'

In [4]:
f_app = os.path.join(dir_data, '/content/drive/MyDrive/Colab Notebooks/ML_100days/application_train.csv')
print('Path of read in data: %s' % (f_app))
app_train = pd.read_csv(f_app)
app_train.head()

Path of read in data: /content/drive/MyDrive/Colab Notebooks/ML_100days/application_train.csv

   SK_ID_CURR  TARGET  ... AMT_REQ_CREDIT_BUREAU_QRT AMT_REQ_CREDIT_BUREAU_YEAR
0      100002       1  ...                       0.0                        1.0
1      100003       0  ...                       0.0                        0.0
2      100004       0  ...                       0.0                        0.0
3      100006       0  ...                       NaN                        NaN
4      100007       0  ...                       0.0                        0.0

[5 rows x 122 columns]

## 請參考 HomeCredit_columns_description.csv 的欄位說明，觀察並列出三個你覺得可能有 outlier 的欄位並解釋可能的原因

In [15]:
app_train.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307511 entries, 0 to 307510
Data columns (total 122 columns):
 #   Column                        Dtype
---  ------                        -----
 0   SK_ID_CURR                    int64
 1   TARGET                        int64
 2   NAME_CONTRACT_TYPE            object
 3   CODE_GENDER                   object
 4   FLAG_OWN_CAR                  object
 5   FLAG_OWN_REALTY               object
 6   CNT_CHILDREN                  int64
 7   AMT_INCOME_TOTAL              float64
 8   AMT_CREDIT                    float64
 9   AMT_ANNUITY                   float64
 10  AMT_GOODS_PRICE               float64
 11  NAME_TYPE_SUITE               object
 12  NAME_INCOME_TYPE              object
 13  NAME_EDUCATION_TYPE           object
 14  NAME_FAMILY_STATUS            object
 15  NAME_HOUSING_TYPE             object
 16  REGION_POPULATION_RELATIVE    float64
 17  DAYS_BIRTH                    int64
 18  DAYS_EMPLOYED                 int64
 19  DAYS_REGISTRATION             float64
 20  DAYS_ID_PUBLISH               int64
 21  OWN_CAR_AGE                   float64
 22  FLAG_MOBIL                    int64
 23  FLAG_EMP_PHONE                int64
 24  FLAG_WORK_PHONE               int64
 25  FLAG_CONT_MOBILE              int64
 26  FLAG_PHONE                    int64
 27  FLAG_EMAIL                    int64
 28  OCCUPATION_TYPE               object
 29  CNT_FAM_MEMBERS               float64
 30  REGION_RATING_CLIENT          int64
 31  REGION_RATING_CLIENT_W_CITY   int64
 32  WEEKDAY_APPR_PROCESS_START    object
 33  HOUR_APPR_PROCESS_START       int64
 34  REG_REGION_NOT_LIVE_REGION    int64
 35  REG_REGION_NOT_WORK_REGION    int64
 36  LIVE_REGION_NOT_WORK_REGION   int64
 37  REG_CITY_NOT_LIVE_CITY        int64
 38  REG_CITY_NOT_WORK_CITY        int64
 39  LIVE_CITY_NOT_WORK_CITY       int64
 40  ORGANIZATION_TYPE             object
 41  EXT_SOURCE_1                  float64
 42  EXT_SOURCE_2                  float64
 43  EXT_SOURCE_3                  float64
 44  APARTMENTS_AVG                float64
 45  BASEMENTAREA_AVG              float64
 46  YEARS_BEGINEXPLUATATION_AVG   float64
 47  YEARS_BUILD_AVG               float64
 48  COMMONAREA_AVG                float64
 49  ELEVATORS_AVG                 float64
 50  ENTRANCES_AVG                 float64
 51  FLOORSMAX_AVG                 float64
 52  FLOORSMIN_AVG                 float64
 53  LANDAREA_AVG                  float64
 54  LIVINGAPARTMENTS_AVG          float64
 55  LIVINGAREA_AVG                float64
 56  NONLIVINGAPARTMENTS_AVG       float64
 57  NONLIVINGAREA_AVG             float64
 58  APARTMENTS_MODE               float64
 59  BASEMENTAREA_MODE             float64
 60  YEARS_BEGINEXPLUATATION_MODE  float64
 61  YEARS_BUILD_MODE              float64
 62  COMMONAREA_MODE               float64
 63  ELEVATORS_MODE                float64
 64  ENTRANCES_MODE                float64
 65  FLOORSMAX_MODE                float64
 66  FLOORSMIN_MODE                float64
 67  LANDAREA_MODE                 float64
 68  LIVINGAPARTMENTS_MODE         float64
 69  LIVINGAREA_MODE               float64
 70  NONLIVINGAPARTMENTS_MODE      float64
 71  NONLIVINGAREA_MODE            float64
 72  APARTMENTS_MEDI               float64
 73  BASEMENTAREA_MEDI             float64
 74  YEARS_BEGINEXPLUATATION_MEDI  float64
 75  YEARS_BUILD_MEDI              float64
 76  COMMONAREA_MEDI               float64
 77  ELEVATORS_MEDI                float64
 78  ENTRANCES_MEDI                float64
 79  FLOORSMAX_MEDI                float64
 80  FLOORSMIN_MEDI                float64
 81  LANDAREA_MEDI                 float64
 82  LIVINGAPARTMENTS_MEDI         float64
 83  LIVINGAREA_MEDI               float64
 84  NONLIVINGAPARTMENTS_MEDI      float64
 85  NONLIVINGAREA_MEDI            float64
 86  FONDKAPREMONT_MODE            object
 87  HOUSETYPE_MODE                object
 88  TOTALAREA_MODE                float64
 89  WALLSMATERIAL_MODE            object
 90  EMERGENCYSTATE_MODE           object
 91  OBS_30_CNT_SOCIAL_CIRCLE      float64
 92  DEF_30_CNT_SOCIAL_CIRCLE      float64
 93  OBS_60_CNT_SOCIAL_CIRCLE      float64
 94  DEF_60_CNT_SOCIAL_CIRCLE      float64
 95  DAYS_LAST_PHONE_CHANGE        float64
 96  FLAG_DOCUMENT_2               int64
 97  FLAG_DOCUMENT_3               int64
 98  FLAG_DOCUMENT_4               int64
 99  FLAG_DOCUMENT_5               int64
 100 FLAG_DOCUMENT_6               int64
 101 FLAG_DOCUMENT_7               int64
 102 FLAG_DOCUMENT_8               int64
 103 FLAG_DOCUMENT_9               int64
 104 FLAG_DOCUMENT_10              int64
 105 FLAG_DOCUMENT_11              int64
 106 FLAG_DOCUMENT_12              int64
 107 FLAG_DOCUMENT_13              int64
 108 FLAG_DOCUMENT_14              int64
 109 FLAG_DOCUMENT_15              int64
 110 FLAG_DOCUMENT_16              int64
 111 FLAG_DOCUMENT_17              int64
 112 FLAG_DOCUMENT_18              int64
 113 FLAG_DOCUMENT_19              int64
 114 FLAG_DOCUMENT_20              int64
 115 FLAG_DOCUMENT_21              int64
 116 AMT_REQ_CREDIT_BUREAU_HOUR    float64
 117 AMT_REQ_CREDIT_BUREAU_DAY     float64
 118 AMT_REQ_CREDIT_BUREAU_WEEK    float64
 119 AMT_REQ_CREDIT_BUREAU_MON     float64
 120 AMT_REQ_CREDIT_BUREAU_QRT     float64
 121 AMT_REQ_CREDIT_BUREAU_YEAR    float64
dtypes: float64(65), int64(41), object(16)
memory usage: 286.2+ MB

TypeError: ignored

In [17]:
list(app_train.dtypes.isin(dtype_select))

[True,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 False,
 False,
 False,
 True,
 True,
 True,
 True,
 True,
 False,
 True,
 True,
 False,
 True,
 False,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 True,
 False,
 True,
 True,
 False,
 False,
 False,
 False,
 False,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 True,
 False,
 False,
 False,
 False,
 False,
 False]

In [16]:
# 先篩選數值型的欄位
"""
YOUR CODE HERE, fill correct data types (for example str, float, int, ...)
"""
dtype_select = ['int64', 'object', 'float64']

numeric_columns = list(app_train.columns[list(app_train.dtypes.isin(dtype_select))])

# 再把只有 2 值 (通常是 0,1) 的欄位去掉
numeric_columns = list(app_train[numeric_columns].columns[list(app_train[numeric_columns].apply(lambda x:len(x.unique())!=2 ))])
print("Numbers of remain columns" % len(numeric_columns))

# 檢視這些欄位的數值範圍
for col in numeric_columns:
    """
    Your CODE HERE, make the box plot
    """
    
    plt.show()

TypeError: ignored

In [ ]:
# 從上面的圖檢查的結果，至少這三個欄位好像有點可疑

# AMT_INCOME_TOTAL
# REGION_POPULATION_RELATIVE
# OBS_60_CNT_SOCIAL_CIRCLE

### Hints: Emprical Cumulative Density Plot, [ECDF](https://zh.wikipedia.org/wiki/%E7%BB%8F%E9%AA%8C%E5%88%86%E5%B8%83%E5%87%BD%E6%95%B0), [ECDF with Python](https://stackoverflow.com/questions/14006520/ecdf-in-python-without-step-function)

In [ ]:
# 最大值離平均與中位數很遠
print(app_train['AMT_INCOME_TOTAL'].describe())

# 繪製 Empirical Cumulative Density Plot (ECDF)
"""
YOUR CODE HERE
"""
cdf = 


plt.plot(list(cdf.index), cdf/cdf.max())
plt.xlabel('Value')
plt.ylabel('ECDF')
plt.xlim([cdf.index.min(), cdf.index.max() * 1.05]) # 限制顯示圖片的範圍
plt.ylim([-0.05,1.05]) # 限制顯示圖片的範圍

plt.show()

# 改變 y 軸的 Scale, 讓我們可以正常檢視 ECDF
plt.plot(np.log(list(cdf.index)), cdf/cdf.max())
plt.xlabel('Value (log-scale)')
plt.ylabel('ECDF')

plt.ylim([-0.05,1.05]) # 限制顯示圖片的範圍

plt.show()

## 補充：Normal dist 的 ECDF
![ecdf_normal](https://au.mathworks.com/help/examples/stats/win64/PlotEmpiricalCdfAndCompareWithSamplingDistributionExample_01.png)

In [ ]:
# 最大值落在分布之外
print(app_train['REGION_POPULATION_RELATIVE'].describe())

# 繪製 Empirical Cumulative Density Plot (ECDF)
"""
Your Code Here
"""
cdf = 


plt.plot(list(cdf.index), cdf/cdf.max())
plt.xlabel('Value')
plt.ylabel('ECDF')
plt.ylim([-0.05,1.05]) # 限制顯示圖片的範圍
plt.show()

app_train['REGION_POPULATION_RELATIVE'].hist()
plt.show()

app_train['REGION_POPULATION_RELATIVE'].value_counts()

# 就以這個欄位來說，雖然有資料掉在分布以外，也不算異常，僅代表這間公司在稍微熱鬧的地區有的據點較少，
# 導致 region population relative 在少的部分較為密集，但在大的部分較為疏漏

In [ ]:
# 最大值落在分布之外
print(app_train['OBS_60_CNT_SOCIAL_CIRCLE'].describe())

# 繪製 Empirical Cumulative Density Plot (ECDF)
"""
Your Code Here

cdf = 


plt.plot(list(cdf.index), cdf/cdf.max())
plt.xlabel('Value')
plt.ylabel('ECDF')
plt.xlim([cdf.index.min() * 0.95, cdf.index.max() * 1.05])
plt.ylim([-0.05,1.05]) # 限制顯示圖片的範圍
plt.show()
"""
app_train['OBS_60_CNT_SOCIAL_CIRCLE'].hist()
plt.show()
print(app_train['OBS_60_CNT_SOCIAL_CIRCLE'].value_counts().sort_index(ascending = False))

## 注意：當 histogram 畫出上面這種圖 (只出現一條，但是 x 軸延伸很長導致右邊有一大片空白時，代表右邊有值但是數量稀少。這時可以考慮用 value_counts 去找到這些數值

In [ ]:
# 把一些極端值暫時去掉，在繪製一次 Histogram
# 選擇 OBS_60_CNT_SOCIAL_CIRCLE 小於 20 的資料點繪製
"""
Your Code Here
"""
loc_a = 
loc_b = 

app_train.loc[loc_a, loc_b].hist()
plt.show()